.table,td{
    border-bottom:1px solid black;
    }
.other{
text-align:center;
display:block;
padding-left:50px;
}
.parrot{
height:478px;
width:671px;
}
        
.ppt{
border-collapse:collapse;
display:inline;
float:left;
}

.enter{
width:38%;
display:inline-block;
border-collapse:collapse;
}
.one{
width:195px;
padding-left:164px;

}
.section{
width:33.33%;
float:right;

}
.history{
width: 80%;
margin:auto;
background-color:#DEDEDE;
text-align:center;
padding-left:50px;
display:block;
padding:20px;
}		

p{
padding-left:40px;
}

